.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RollDice-Container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background: black;
  align-self: center;
}

.RollDice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}
