.Joke {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.Joke-text {
  width: 75%;
  font-size: 1.2rem;
}

.Joke-votes {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 3px solid red;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  transition: 500ms ease;
}

.fa-arrow-up, .fa-arrow-down {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
}

.Joke-smiley {
  font-size: 3rem;
  margin-left: auto;
  border-radius: 50%;
}
