.Todo {
  height: 48px;
  margin-top: 8px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background: #ebe3ee;
}

.Todo:last-child {
  margin-bottom: 24px;
}

.Todo span {
  width: 85%;
  font-size: 0.8rem;
  color: #7868e6;
}

.Todo i {
  cursor: pointer;
  height: 40%;
  transition: filter 0.3s;
  color: #5d50b2;
}

.Todo i:hover {
  filter: brightness(200%);
}
