.TodoForm {
  margin-top: 24px;
}

.TodoForm label {
  color: #7868e6;
  font-weight: 200;
}

.TodoForm-add {
  width: 100%;
  height: 48px;
  margin-top: 6px;
  display: flex;
}

.TodoForm-add input {
  width: calc(100% - 60px);
  line-height: 48px;
  padding: 12px;
  margin-right: 12px;
  border: 1px solid #7868e6;
  border-radius: 18px;
  background: none;
  font-family: sans-serif;
  font-weight: 400;
  color: #7868e6;
}

.TodoForm-add input:focus {
  outline: none;
}

.TodoForm-add button {
  cursor: pointer;
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 18px;
  background: #7868e6;
  transition: background-color 0.3s;
}

.TodoForm-add button:hover {
  background: #b8b5ff;
}

.TodoForm-add button i {
  color: white;
}
