.NewTodoForm {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.NewTodoForm input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  width: 60%;
}

.NewTodoForm button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  transition: background 0.2s ease-out;
}

.NewTodoForm button:hover {
  background: #ff5252;
}

.NewTodoForm input,
.NewTodoForm button {
  font-family: Inter, sans-serif;
  height: 3rem;
}
